.boska {
    font-family: 'Boska-Variable';
  src: url('../fonts/Boska-Variable.woff2') format('woff2'),
       url('../fonts/Boska-Variable.woff') format('woff'),
       url('../fonts/Boska-Variable.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

.footer-links h4 {
  font-family: 'Neco-Variable';
  src: url('../fonts/Neco-Variable.woff2') format('woff2'),
       url('../fonts/Neco-Variable.woff') format('woff'),
       url('../fonts/Neco-Variable.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

.footer-links ul li a {
  font-family: 'Neco-Variable';
  src: url('../fonts/Neco-Variable.woff2') format('woff2'),
       url('../fonts/Neco-Variable.woff') format('woff'),
       url('../fonts/Neco-Variable.ttf') format('truetype');
  font-weight: 470;
  font-style: normal;
}

.descripcion-1 {
  
  font-family: 'Neco-Variable';
  src: url('../fonts/Neco-Variable.woff2') format('woff2'),
       url('../fonts/Neco-Variable.woff') format('woff'),
       url('../fonts/Neco-Variable.ttf') format('truetype');
  font-weight: 470;
  font-style: normal;
}

@font-face {
  font-family:'Amulya';
  src: url('../fonts/Amulya-Variable.woff2') format('woff2'),
       url('../fonts/Amulya-Variable.woff') format('woff'),
       url('../fonts/Amulya-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}
.style {
   font-family: 'Neco-Variable';
  src: url('../fonts/Neco-Variable.woff2') format('woff2'),
       url('../fonts/Neco-Variable.woff') format('woff'),
       url('../fonts/Neco-Variable.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.style {
     font-size: 20px;
}
.content-title {
     font-family: 'GeneralSans-Variable';
     src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
          url('../fonts/GeneralSans-Variable.woff') format('woff'),
          url('../fonts/GeneralSans-Variable.ttf') format('truetype');
     font-weight:   600;
     font-display: swap;
     font-style: normal;
}