.banner {
    background-color:#1c744c ;
    
}
.menuu {
    display: flex;
    text-decoration:none;
    padding: 0px 0px 0 130px;
    color: white;
    justify-content: space-around;
    justify-items: center;
        font-family: "Satoshi-variable",sherif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        position: relative;
}
.barra {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 2px 12px;
    position: relative;
}
body{
    margin: 0px;
    position: relative;
    padding-bottom: 100vh;
    min-width: 100vh;
    
}   

.menuu a:hover {
    background-color:   #248f615d ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
     transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.texto-1 {
    display: flex;
    justify-content: center;
    font-size:1.65rem ;
    margin: auto;
    padding: 0 0 0 80px;
    text-align: center;
}

.texto-2 {
    display: flex;
    justify-content: center;
    font-size:1.65rem ;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 0 0 0 5rem;
    
}

.footer-links {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    width: 13rem;
    padding: 0 15px;
    margin-top: 1rem;
}

.footerr {
    background-color: #BEDBAD;
    padding: 0px 0 163px 0 ;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 220px;
    
}

.footer-row {
    display: flex;
    flex-wrap: wrap;

}

.footer-links h4 {
    font-size: 20px;
    color: #11A27B;
    margin-bottom: 25px;
    font-weight: 600;
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: white;
    margin-bottom: 15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.footer-links ul li a:hover {
    color: #248f60;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-width: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.social-link a:hover {
    background-color: #248f60;
}

.copyright {
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.contain{
    display: flex;
    justify-content: center;
}
.cards-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.imagen-de-producto { 
    display: flex;
    justify-content: center;
    height: 80px;
}

.titulo-de-producto{
    display: flex;
    justify-content: center;
    margin:0px;
    font-size: 30px;
    padding: 5px 0 0 0;
    width: 300px;
    color: green;
}

.descripcion-1 {
    width: 300px;
    text-align: center;
    
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.carta {
    margin: auto;
    padding-left: 27vh;
    padding-top: 25vh;
}
.carta-1 {
    margin: auto;
    padding-left: 28vh;
    padding-top: 25vh;
}
.carta-2 {
    margin: auto;
    padding-left: 28vh;
    padding-top: 25vh;
}
.login-icon {
    display: flex;
    margin: 0;
    padding-left: 50vh;
}
.icon-login {
    display: flex;
    height: 50px;
    justify-content:space-evenly;
    align-content: space-evenly;
    margin: 0;
    padding: 0 0 0 0;
    margin-top: 15px;
    right: 5%;
    position: absolute;
}
.content {
    display: flex;
    margin:0 0 0 0 ;
    justify-content: end;
    box-sizing: border-box;
 
}
.menu-1 {
    display: flex;
    box-sizing: border-box;
}
@media(min-width: 1366px) {
    .barra {
        padding: 4px 8px 4px 8px;
    }
}
