.cart-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 8%;
}
#cart-icon {
    position: relative;
    font-size: 1.56rem;
    cursor: pointer;
}

#cart-icon[data-quantity="0"]::after {
    contain:"";
}
#cart-icon[data-quantity]::after {
    content:attr(data-quantity);
    position: absolute;
    top: -30%;
    right: -13px;
    width: 20px;
    height: 20px;
    background-color: #96c8a2   ;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}
.cart {
    position: fixed;
    top: 0%;
    right: -100%;
    width: 360px;
    min-height: 50vh;
    padding: 20px;
    background-color: #96c8a2;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}
.cart.active {
    right: 0;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #fff;
}
.total-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 1rem;
}
.total-price {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}
.btn-buy {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #b8f3af;
    color: #fff;
    font-size: 1.06rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2rem;
}
#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box {
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title {
    font-size: 1.3rem;
}
.cart-quantity {
    border: 1px solid #fff;
    outline-color: #b8f3af;
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    display: flex;
    margin-top: 5px;
}
.cart-remove {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.cart-price {
    display: flex;
    position: relative;
    top: -5px;
}
.cart-product-title {
    display: flex;
    position: relative;
    top: -10px;
}
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}
.shop {
    margin-top: 2rem;
}
.shop-content {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 1.5rem;
}
.box1 {
    position: relative;
    left: 30%;
    width: 228px;
    margin: 20px 0;
}

.box2 {
    position: relative;
    left: 32.5%;
    width: 228px;
    margin: 20px 0;
}
.box3 {
    position: relative;
    left: 35%;
    margin: 0%;
    width: 228px;
    overflow: hidden;
    z-index: 0;
    margin: 20px 0;
}
.product-box {
    position: relative;
    background-color: #d9d99b42;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    grid-template-columns: repeat(3,50%);
}
.product-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.product-title {
    font-size: 1.45rem;
    margin-bottom: 0.5rem;
}
.price {
    font-weight: 500;
}
.add-cart {
    position: absolute;
    bottom: 15px;
    right: 25px;
    background-color: #96c8a2;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.add-cart:hover {
    background-color: hsl(249, 32%, 17%);
}
.product-box:hover {
    background-color: #fff;
    border: 0px solid #f0f0f0;
    box-shadow: 0 8px 32px hsl(0.75, 0.82, 0.165, 1);
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.03,1.02);
    }
.btn-none {
    text-decoration: none;
    color: #fff;
}
.header .header-right {
    display: flex;
}
.header .header-right li.menu-item {
    display: block;
    text-decoration: none;
}
.toast {
    width: 400px;
    height: 80px;
    background-color: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    position: sticky;
}
#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    z-index: 10;
}
.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: green;
}
.toast.error i {
    color: red;
}
.toast.Invalid i {
    color: orange;
}

.toast::after{

    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 4.05s linear forwards;
    
}
@media screen {
   .notification-fixed{
    position: fixed;
    bottom:0 ;
} 
}

@keyframes anim {
    100%{
        width: 0;
    }
}